<h2>Edycja <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-6' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :hasło%> <i>(pozostaw puste jeśli nie chesz zmieniać)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control col-6' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> znaków minimum </em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :potwierdzenie_hasła %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-6' %>
  </div>

  <div class="form-group">
    <%= f.label :Obecne_hasło %> <i>(potrzebujemy obecne hasło dla potwierdzenia zmian)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control col-6' %>
  </div>

  <div class="actions">
    <%= f.submit "Aktualizuj", class: 'btn btn-primary' %>
  </div>
<% end %>


<%= link_to "Cofnij", :back %>
