<h2>Logowanie</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-6' %>
  </div>

  <div class="form-group">
    <%= f.label :hasło %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control col-6' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :zapamiętaj_mnie %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Zaloguj", class: 'btn btn-primary' %>
  </div>
<% end %>
