<p id="notice"><%= notice %></p>




    <% @posts.each do |post| %>
        <h1><%= link_to post.title, post %></h1>
        <p align="right">Dodano <%= time_ago_in_words(post.created_at) %> temu</p>
       <hr>
  <% end %>
  <br>
