<p id="notice"><%= notice %></p>
<div class="page-header">
  <h2>
  <%= @post.title %></h2>

</div>
  <div class="panel panel-default">
    <div class="panel-heading">
<h4 align='center'>
  <%= @post.body %>
</h4>
</div>
</div>

<% if user_signed_in? %>
<div class="btn-group pull-right d-flex justify-content-end">
   	<div class="btn-group ">
   		<%= link_to 'Edytuj', edit_post_path(@post), class: "btn btn-primary" %>
   		<%= link_to 'Usuń', @post, method: :delete, data: { confirm: 'Jesteś Pewien?' }, class: "btn btn-warning" %>
   	</div>
  </div>
<% end %>
<%= social_share_button_tag(@post.title) %>
