<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-default" role="navigation">
  <%= link_to 'Mój Blog', root_path, class: 'navbar-brand' %>
  <div class="container d-flex justify-content-end">
    <p class="navbar-text navbar-right">
      <% if user_signed_in? %>
      <%= link_to 'Nowy Post', new_post_path, class: 'navbar-link' %>
      <%= link_to 'Edycja Profilu', edit_user_registration_path, class: 'navbar-link' %>
      <% else %>
      <%= link_to 'Logowanie admina', new_user_session_path, class: 'navbar-link'%>
      <% end %>
    </p>
  </div>
</nav>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
